
html,body {
    height: 100%; width: 100%; margin: 0;
    color: #5a5a5a;
    font-family: font-family:Hiragino Sans GB, Microsoft Yahei, tahoma, sans-serif;
}

.yellow-divider {
    width: 20%;
    height: 1px;
    margin-left: 0px;
    background: #ffa100;
    border-bottom: 1px solid #ffa100;
}

.text-white h1 {
    display: inline-block;
    vertical-align: middle;
}



.black-mask {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.marketing {
    margin: 0;
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

/*視差相關*/
.parallax-background {
    color: black;
    background: url(../../assets/images/ShrimpBG.jpg) no-repeat center center fixed ;
    width: 100%;
    background-size: cover;
    margin-top: 0px;
}





#gotop img {
    display: block;
    margin: auto;
}

/*圖片秀*/
#myCarousel {
    text-align:center; 
}


/*標題動畫*/
#animateTitle {
    height: 100%;
    width: 100%;
    position:absolute;
    display: block;
}

/*標題排版*/
.CenterTitleText {
    position: relative;
    width: 80%;
    z-index: 1;
    color:white;
    font-family: Meiryo;
    font-size: 4em;
    opacity: 0;
    margin: 0 auto;
    text-shadow: 3px 3px 30px rgba(0, 0, 0, 1);
}

.CenterSubText{
    opacity: 0;
    display: block;
    position: relative;
    z-index: 3;
    color:white;
    font-family: Meiryo;
    font-size: 30px;
    margin: 0 auto;
    width: 80%;
    text-shadow: 3px 3px 30px rgba(0, 0, 0, 1);
}
.CenterDivider {
    position: relative;
    top: 38%;
    height: 1px;
    width: 1px;
    background-color:white;
    z-index: 20;
    margin: 0 auto;

}

/*一般按鈕排版*/
.btn-default.active,
.open .dropdown-toggle.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    color: #000000;
    font-family:cursive;
}

/*商品排版*/


.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-left: 10px;
    margin-right: 10px;
}

.marketing img {
    max-width: 100%
}


/*  訂購鈕 */
.btn-default {
    font-family:cursive;
    font-weight: bold;
    background-color:#DDDDDD;
}


/*圖片秀 左右換頁按鈕樣式*/
.carousel-control.right,
.carousel-control.left,
#myCarousel1 .carousel-control.right,
#myCarousel1 .carousel-control.left,
#myCarousel2 .carousel-control.right,
#myCarousel2 .carousel-control.left {
    background: none;
    color: #eeeeee;
    font-size: 3em;
    width: 6%;
}


/*Video 排版*/
.video-container {
    width: 100%;
    overflow:hidden;
    display:block;
    height: 500px;/* 用%會跑格式 */
    background-color:#00FF00;/* 顯眼標註用 */

}

#bgvid{ 
    width:100%;
    margin-bottom: 220px;
    transform:translateY(-30%);
    -ms-transform:translateY(-30%); 	/* IE 9 */
    -moz-transform:translateY(-30%); 	/* Firefox */
    -webkit-transform:translateY(-30%); /* Safari 和 Chrome */
    -o-transform:translateY(-30%); 	/* Opera */  
}



.shadow_bottom {
    -webkit-box-shadow: 0px 26px 17px -16px rgba(51,50,51,1);
    -moz-box-shadow: 0px 26px 17px -16px rgba(51,50,51,1);
    box-shadow: 0px 26px 17px -16px rgba(51,50,51,1);
}

.shadow_bottom:hover {
    -webkit-box-shadow: 0px 1px 17px -16px rgba(51,50,51,1);
    -moz-box-shadow: 0px 1px 17px -16px rgba(51,50,51,1);
    box-shadow: 0px 1px 17px -16px rgba(51,50,51,1);
}

.transition-one {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in; 
    -o-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in; 
    transition: all 1s ease-in; 
}

.transition-dot-five {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
}

.tag-blue {
    font-size: 40px;
    border-width: 1px;
    border-color: darkgray;
    border-radius: 50%;
    padding: 15px;
    color:#ffffff;
    background-color: #4f818d;
}

.tag-black {
    font-size: 60px;
    border-width: 3px;
    border-color: darkgray;
    border-radius: 50%;
    padding: 15px;
    color:#8064a2;
    background-color: transparent;
}

.ImgTitle {

    margin-top: 15%;
    color: #ed8957;
    top:0px;
    left:40px;
}


.centerContain {

    margin: 40px auto;
    height: auto;
    width: 70%;
    background:url(../../assets/images/clam01.jpg) no-repeat center center;
    background-color: aqua;
    background-size: cover;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

div.sourceplace {
    width: 100%;
    height: auto;
    background: url("../images/BG-carbon_fibre.png");
    padding-top: 3%;
}

div.whiteboard {
    width: 90%;
    height: 500px;
    display: block;
    float: left;
    margin: 30px;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 38px 39px 43px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 38px 39px 43px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 38px 39px 43px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}


.bg-milkfish{
    background-image: url(../images/productpic/pro-sub-004.jpg);
    background-size: cover;
}
.bg-clam{
    background-image: url("../images/colorBoard-clam.jpg");
    background-size: cover;
}
.bg-mulletEgg{
    background-image: url("../images/colorBoard-mulletEgg.jpg");
    background-size: cover;
}
.bg-salmon{
    background-image: url("../images/colorBoard-salmon.jpg");
    background-size: cover;
}
.bg-shrimp{
    background-image: url("../images/colorBoard-Shrimp.jpg");
    background-size: cover;
}
.bg-cod{
    background-image: url("../images/colorBoard-cod.jpg");
    background-size: cover;
}

div.whiteboard:hover {
    width: 90%;
    height: 500px;
    display: block;
    float: left;
    background-color: #ffffff;
    margin: 30px;
    position: relative;
    -webkit-box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 7px 0px rgba(0, 0, 0, 0.75);
}


.txt-frame {
    display: inline-block;
    float: left;
    display: block;
    width: 200%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: translateX(0%);
}

.txt-frame:hover {
    float: left;
    display: inline-block;
    width: 200%;
    height: 100%;

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: translateX(-50%);
}



.imageboard {
    display: inline-block;
    width: 50%;
    height: 100%;
    z-index: 0;
    background-image: url("bottom.jpg");
    background-size: cover;
}

.colorboard {
    display: inline-block;
    width: 50%;
    height: 50%;
    z-index: 0;
}

.title-up {
    top: 50%;
    left: 10%;
    position: relative;
    font-size: 3em;
}

.sub-title-up {
    top: 50%;
    left: 10%;
    position: relative;
    width: 80%;
}

.title-down {
    top: 10%;
    left: 10%;
    position: relative;
    font-size: 2em;
}

.sub-title-down {
    top: 10%;
    left: 10%;
    position: relative;
    width: 80%;
}

.ps-rela {
    position: relative;
}

.txt-bolder {
    font-weight: bolder;
}

.withFullPercentage{
    width: 100%;
    height: 100%;
}

.withWidthPercentage{
    width: 100%;
    height: auto;
}

.margin-up-down-big {
    margin: 10% auto 10% auto;
}

footer {
    background-image: url(../images/BG-white_brick_wall.png);
    color: #282828;
    padding-top: 4%;
    padding-bottom: 4%;
}



.cook-method {
    width: 100%;
    height: auto;
    background-image: url(../images/BG-degree-Fabric.png);
}

.txt-auto-new-line {
    word-wrap: break-word;
}



.progressive-button {
    float: left;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.1);
}

.stupidbg {
    -webkit-transform: scale(2) rotate(-45deg);
    transform: scale(2) rotate(-45deg);
    position: absolute;
    left: -130%;
    top:-130%;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: none;
    background: rgba(249,182,53,.8);
    transition: 1s all cubic-bezier(.23,1,.32,1),1s transform cubic-bezier(.23,1,.32,1);
    transition-delay: .18s;

}

.stupid img{
    width: 100%;
    -webkit-transform: scale(1.00);
    transform: scale(1.00);
    transition: all .3s  ease-in-out;
    -o-transition: all .3s  ease-in-out;
    -moz-transition: all .3s  ease-in-out;
    -webkit-transition: all .3s  ease-in-out;
}
.stupid:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.stupid:hover .stupidbg {
    opacity: 1;
    left: 0;
    top: 0;
}

.stupid:hover .stupidtext{
    opacity: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.stupidtext {
    font-size: 25px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 2px;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 41%;
    -webkit-transform: translateY(-59%);
    -ms-transform: translateY(-59%);
    transform: translateY(-59%);
    color: #fff;
    z-index: 100;
    transition: .5s all cubic-bezier(.4,1,.1,1),.5s transform cubic-bezier(.4,1,.1,1);
    -webkit-transition-delay: .4s;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}






/* 下拉選單  Start */

.dropdown-list p,.dropdown-list ul li i:before,.dropdown-list ul li i:after {
    transition: all 0.25s ease-in-out;
}

.dropdown-list h1,.dropdown-list ul li {
    animation: flipdown 0.5s ease both;
}
.dropdown-list h1 {
    text-transform: uppercase;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 3px;
    font-weight: 100;
}

.dropdown-list h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
}

.dropdown-list p {
    color: rgba(48, 69, 92, 0.8);
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
}

.dropdown-list ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
}
.dropdown-list ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
}
.dropdown-list ul li:nth-of-type(1) {
    animation-delay: 0.5s;
}
.dropdown-list ul li:nth-of-type(2) {
    animation-delay: 0.75s;
}
.dropdown-list ul li:nth-of-type(3) {
    animation-delay: 1s;
}
.dropdown-list ul li:last-of-type {
    padding-bottom: 0;
}
.dropdown-list ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    right: 0;
}
.dropdown-list ul li i:before,.dropdown-list ul li i:after {
    content: "";
    position: absolute;
    background-color: #ff6873;
    width: 3px;
    height: 9px;
}
.dropdown-list ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}
.dropdown-list ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}
.dropdown-list ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}
.dropdown-list ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}
.dropdown-list ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}
.dropdown-list ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
    0% {
        opacity: 0;
        transform-origin: top center;
        transform: rotateX(-90deg);
    }
    5% {
        opacity: 1;
    }
    80% {
        transform: rotateX(8deg);
    }
    83% {
        transform: rotateX(6deg);
    }
    92% {
        transform: rotateX(-3deg);
    }
    100% {
        transform-origin: top center;
        transform: rotateX(0deg);
    }
}


/* 下拉選單  End */

div.bg-questions {
    width: 100%;
    height: auto;
    background: url("../images/BG-foil.png");
    padding-top: 3%;
}


.shadow_full {
    -webkit-box-shadow: 0px 0px 105px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 105px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 105px -12px rgba(0,0,0,0.75);
}
.shadow_full:hover {
    -webkit-box-shadow: 0px 0px 105px -46px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 105px -46px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 105px -46px rgba(0,0,0,0.75);
}



/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #444444;
    height: 1px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

/* Shadow Radial */
.hvr-shadow-radial {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
}
.hvr-shadow-radial:before, .hvr-shadow-radial:after {
    pointer-events: none;
    position: absolute;
    content: '';
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    height: 5px;
    opacity: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
}
.hvr-shadow-radial:before {
    bottom: 100%;
    background: -webkit-radial-gradient(50% 150%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at 50% 150%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.hvr-shadow-radial:after {
    top: 100%;
    background: -webkit-radial-gradient(50% -50%, ellipse, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at 50% -50%, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.hvr-shadow-radial:hover:before, .hvr-shadow-radial:focus:before, .hvr-shadow-radial:active:before, .hvr-shadow-radial:hover:after, .hvr-shadow-radial:focus:after, .hvr-shadow-radial:active:after {
    opacity: 1;
}


/* Float Shadow */
.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.vertical-center {
    display: inline-block;
    vertical-align: middle;
}

.bgcolor-Cream {
    background-color: #C4BaB0;
}
.bgcolor-whitewood {
    background-color:  #dee2eb;
}
.bgcolor-wood {
    background-color:  #e5a137;
}



.redirect-btn-style {
  font-size: 1.5em;
}

.hr-color-red {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c0504d;
    margin: 1em 0;
    padding: 0; 
}





