
.collapse  .navbar-nav  a {

    font-size:1.5em;
}

.navbar-header  .navbar-brand {
    width: 200px;
}

.myBrand {
    position: relative;
    width: 100%;
    top:-15px;
}

/*  導覽控制項的主標題文字 */
/*
.large .navbar-inverse .navbar-header > a {
    color: #FFFFFF;
	font-family: Meiryo;
	text-align: center;
	width:250px;
    font-weight: bold;
    line-height: 40px;
    font-size:40px;
}
*/
/*  導覽控制項的主標題文字 */
/*
.small .navbar-inverse .navbar-header > a {
    color: #FFFFFF;
	font-family: Meiryo;
	text-align: center;
	width:250px;
    font-weight: bold;
    line-height: 25px;
    font-size:25px;
}
*/

/*  導覽控制項的文字顏色 */
/*
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
	font-size:15px;
}
*/

/*  導覽控制項的文字顏色 */
/*
.large .navbar-inverse .navbar-nav > li > a {
	
    color: #FFFFFF;
	font-family: Meiryo;
  
    font-size:20px;
    line-height: 40px;
}
*/
/*  導覽控制項的文字顏色 */
/*
.small .navbar-inverse .navbar-nav > li > a {
	
    color: #FFFFFF;
	font-family: Meiryo;
   
    font-size:16px;
    line-height: 16px;
}
*/

/*                                                                      
@media (min-width: 768px) {
     Remove the edge padding needed for mobile 
    .navbar-wrapper .container {
        height: 100%;
        width: 100%;
    }
    .navbar-wrapper .navbar {
        border-radius: 4px;
        padding-left: 15px;
        padding-right: 15px;
        height: 100%;
    }
    
}
*/




/*導航欄 變換動畫*/
/*
    .navbar-nav > li > a,
    .navbar-wrapper,
    .navbar-wrapper .navbar-inverse,
    .navbar-header > a {
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }
*/

/*導航動畫*/
/*
.large {
    height: 10%;
    width:95%; 
    margin: 0 auto;   
}
.small {
    height: 6%;
    width:85%; 
    margin: 0 auto;   
}
*/

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}













