* { box-sizing: border-box; }

body {
    font-family: Meiryo;
    background-color: #fafafa
}

/* ---- button ---- */

.button {
    display: inline-block;
    padding: 10px 18px;
    margin-bottom: 10px;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
    color: #222;
    font-size: 16px;
    text-shadow: 0 1px white;
    cursor: pointer;
}

.button:hover {
    background-color: #8CF;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #222;
}

.button:active,
.button.is-checked {
    background-color: #28F;
}

.button.is-checked {
    color: white;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group:after {
    content: '';
    display: block;
    clear: both;
}

.button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {

}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .product-item ---- */

.product-item {
    position: relative;
    float: left;
    width: 300px;
    height: 380px;
    margin: 8px;
    background: #888;
    color: #262524;
}

.product-item > * {
    margin: 0;
    padding: 0;
}

.product-item .name {
    position: absolute;
    top:10px;
    left: 9px;
    font-weight: normal;
    color: #ed4136
}

.product-item .spec {
    position: absolute;
    top:35px;
    left: 9px;
    font-weight: normal;
    color: #333333
}

.product-item .price {
    position: absolute;
    top:55px;
    left: 9px;
    font-weight: normal;
    color: #ed4136
}

.product-pic {
    width: 300px;
    height: 300px;
    background-size: cover;
}
.product-explain {
    position: relative;
    background-color: white;
    width: 300px;
    height: 80px;
}
/*.product-item .symbol {
position: absolute;
left: 10px;
top: 0px;
font-size: 42px;
font-weight: bold;
color: white;
}

.product-item .number {
position: absolute;
right: 8px;
top: 5px;
}

.product-item .weight {
position: absolute;
left: 10px;
top: 76px;
font-size: 12px;
}
*/




.product-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.product-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.product-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.product-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.product-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.product-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.product-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.product-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.product-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.product-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }

.shadow_left_bottom {
    -webkit-box-shadow: 6px 6px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 16px -1px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 16px -1px rgba(0,0,0,0.75);
}

.shadow_left_bottom:hover {
    -webkit-box-shadow: 0px 1px 17px -16px rgba(51,50,51,1);
    -moz-box-shadow: 0px 1px 17px -16px rgba(51,50,51,1);
    box-shadow: 0px 1px 17px -16px rgba(51,50,51,1);
}
.transition-dot-five {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in; 
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in; 
    transition: all 0.5s ease-in; 
}

.dropdown-style {
    position: absolute;
    font-size: 0.5em;
    padding: 0px;
    top: 35%;
    right: 10px;
    width: 20%;
    height: 27%;
}

.cargo-btn-style {
    position: absolute;
    font-size: 1em;
    bottom: 10%;
    right: 10px;
    width: 20%;
    height: 25%;
    padding: 1px;
}
@media (max-width: 43.75em) {
    .product-item {
        position: relative;
        float: left;
        width: 230px;
        height: 150px;
        margin: 8px;
        background: #888;
        color: #262524;
    }
    .product-pic {
        width: 150px;
        height: 150px;
        background-size: cover;

    }
    .product-explain {
        position:absolute;
        top: 0px;
        right: 0px;
        background-color: white;
        width: 80px;
        height: 150px;

    }

    .product-item > * {
        margin: 0;
        padding: 0;
    }



    .product-item .name {
        position: relative;
        width: 80%;
        font-weight: normal;
        color: #ed4136;
        font-size: 18px;
        top: 0px;
        right: 0px;
        margin: 3px;
    }
    .product-item .spec {
        position: relative;
        display: block;
        width: 80%;
        font-weight: normal;
        color: #333333;
        top: 0px;
        right: 0px;
        font-size: 12px;
    }

    .product-item .price {
        display: block;
        position: relative;
        font-weight: normal;
        color: #ed4136;
        top: 0px;
        right: 0px;
        font-size: 15px;
    }
    .dropdown-style {
        position: relative;
        display: block;
        font-size: 0.5em;
        padding: 0px;
        top: 0px;
        right: 0px;
        width: 80%;
        height: 22px;
        margin: 3px;
    }

    .cargo-btn-style {
        position: relative;
        display: block;
        font-size: 0.5em;
        padding: 0px;
        top: 0px;
        right: 0px;
        width: 80%;
        height: 22px;
        margin: 3px;
    }
}


/* -- Ripple effect -------------------------------- */
.ripple-effect {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);
}
.ink {
    display: block;
    position: absolute;
    pointer-events: none;
    border-radius: 50%;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);

    background: #fff;
    opacity: 1;
}



.ink.animate {
    -webkit-animation: ripple .5s linear;
    -moz-animation: ripple .5s linear;
    -ms-animation: ripple .5s linear;
    -o-animation: ripple .5s linear;
    animation: ripple .5s linear;
}
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5);
    }
}
@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}
@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5);
        transform: scale(2.5);
    }
}
@-ms-keyframes ripple {
    100% {
        opacity: 0;
        -ms-transform: scale(2.5);
        transform: scale(2.5);
    }
}
@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5);
        transform: scale(2.5);
    }
}



/* -- 產品照片 -------------------------------- */
.product-001 {
    background-image: url(../images/productpic/pro-sub-001.jpg);
}
.product-002 {
    background-image: url(../images/productpic/pro-sub-002.jpg);
}
.product-003 {
    background-image: url(../images/productpic/pro-sub-003.jpg);
}
.product-004 {
    background-image: url(../images/productpic/pro-sub-004.jpg);
}
.product-005 {
    background-image: url(../images/productpic/pro-sub-005.jpg);
}
.product-006 {
    background-image: url(../images/productpic/pro-sub-006.jpg);
}
.product-007 {
    background-image: url(../images/productpic/pro-sub-007.jpg);
}
.product-008 {
    background-image: url(../images/productpic/pro-sub-008.jpg);
}
.product-009 {
    background-image: url(../images/productpic/pro-sub-009.jpg);
}
.product-010 {
    background-image: url(../images/productpic/pro-sub-010.jpg);
}
.product-011 {
    background-image: url(../images/productpic/pro-sub-011.jpg);
}
.product-012 {
    background-image: url(../images/productpic/pro-sub-012.jpg);
}
.product-013 {
    background-image: url(../images/productpic/pro-sub-013.jpg);
}
.product-014 {
    background-image: url(../images/productpic/pro-sub-014.jpg);
}
.product-015 {
    background-image: url(../images/productpic/pro-sub-015.jpg);
}
.product-016 {
    background-image: url(../images/productpic/pro-sub-016.jpg);
}
.product-017 {
    background-image: url(../images/productpic/pro-sub-017.jpg);
}
.product-018 {
    background-image: url(../images/productpic/pro-sub-018.jpg);
}
.product-019 {
    background-image: url(../images/productpic/pro-sub-019.jpg);
}
.product-020 {
    background-image: url(../images/productpic/pro-sub-020.jpg);
}
.product-021 {
    background-image: url(../images/productpic/pro-sub-021.jpg);
}
.product-022 {
    background-image: url(../images/productpic/pro-sub-022.jpg);
}
.product-023 {
    background-image: url(../images/productpic/pro-sub-023.jpg);
}
.product-024 {
    background-image: url(../images/productpic/pro-sub-024.jpg);
}
.product-025 {
    background-image: url(../images/productpic/pro-sub-025.jpg);
}

.filters-button-group {
    margin-top: 8px;
}

.onlyblank {
    width: 100%;
    height: 15%;
}

.titlebanner {
    background-image: url(../images/BG-dark_embroidery.png);
    width: 100%;
    color: white;
    padding: 30px;

}

.insetshadow {
    -webkit-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
    -moz-box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.7);
    padding-top: 30px;
}











